:root {
	--number-of-skill-trees: 15;
	
	--tree-width: 100px;
	--tree-padding: 0.25rem;
	--tree-gap: 0.5rem;
	
	--card-width: 250px;
	--card-padding: 0.3rem;
}

body {
	background-color: rgba(45, 45, 0);
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(../img/background.jpg);
	background-position: center;
	background-size: cover;
	color: #FFF;
	
	cursor: url('../img/cursor.png'), auto;
}

div.builder--skill_trees {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: normal;
	gap: 0.5rem;

	background-color: rgba(0,0,0,0.5);
	overflow-x: auto;
	text-align: center;
}

div.skill_trees--opt {
	border: 1px solid black;
	width: 100px;
}

div.skill_trees--icon img {
	width: 50px;
	height: 50px;
}

@media screen and (width < calc((16 * (100px + 0.25rem)) + (15 * 0.25rem))) {
	div.builder--skill_trees {
		justify-content: normal;
	}
}

div.skill_trees--opt:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

div.skill_trees--opt.active {
	background-color: rgba(0, 255, 0, 0.3);
}

div.builder--tree:not(.active),
div.builder--gear:not(.active) {
	display: none;
}

div.builder--tree--name {
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
}

img.icon {
	margin: 3px;
	width: 18px;
	height: 18px;
}

/* BUILDER RAILS */
div.builder--tree {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-row-gap: 0.1rem;
	
	width: fit-content;
	margin: 0 auto;
}

.rail-1 {
	grid-area: 1 / 1 / 2 / 4;
}

.rail-2 {
	grid-area: 2 / 1 / 3 / 4;
}

.rail-3 {
	grid-area: 3 / 1 / 4 / 4;
}

.rail-4 {
	grid-area: 4 / 1 / 5 / 4;
}

.rail-5 {
	grid-area: 5 / 1 / 6 / 4;
}

.rail-6 {
	grid-area: 6 / 1 / 7 / 4;
}

.col-all {
	grid-area: 1 / 1 / 1 / 4;
}

.col-1 {
	grid-area: 1 / 1 / 2 / 2;
}

.col-2 {
	grid-area: 1 / 2 / 2 / 3;
}

.col-3 {
	grid-area: 1 / 3 / 2 / 4;
}

.skill--group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 0rem 0.5rem;
}

/* BUILDER SKILLS */
div.builder--skill {
	position: relative;
	margin: 0.5rem;
}

div.builder--skill:hover {
	box-shadow: inset 0 0 10px #FFF;
}

div.builder--skill:hover div.builder--skill--card {
	visibility: visible;
}

div.builder--skill--img:after,
div.builder--skill--img:before {
	content: '';
	
	--icon-width: 50px;
	--icon-height: var(--icon-width);
	--width: 128px;
	--height: var(--width); /* 1:1 aspect ratio */

	--pos-off-x: calc(100% - (var(--width) / 2) - (var(--icon-width) / 2));
	--pos-off-y: calc(100% - (var(--height) / 2) - (var(--icon-height) / 2));

	background-image: url(../img/treeUI/tex_men_treeUnboughtActive.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;

	position: absolute;
	width: var(--width);
	height: var(--height);
	z-index: -1;
	left: var(--pos-off-x);
	top: var(--pos-off-y);
	display: inline-block;
	
	pointer-events: none;
}

div.builder--skill:not([data-cost-breakthrough="0"]):before {
	content: '';
	
	background-image: url(../img/treeUI/tex_men_treeUnoughtChain.png);
	
	width: 345px;
	height: 32px;
	
	position: absolute;
	top: calc((50px / 2) - (32px / 2));
	left: calc((0 - 1) * (345px / 2) + 25px);
}

div.builder--skill.selected div.builder--skill--img:after {
	z-index: 1;
	background-image: url(../img/treeUI/tex_men_treeBoughtOverlay.png);
}

div.builder--skill[data-cooldown="-1"] div.builder--skill--img:after {
	background-image: url(../img/treeUI/tex_men_treeUnboughtPassive.png);
}

div.builder--skill.selected[data-cooldown="-1"] div.builder--skill--img:after {
	--width: 50px;
	--height: 50px;
	z-index: -1;
	background-image: url(../img/treeUI/tex_men_treeBoughtPassive.png);
}

div.builder--skill.requires div.builder--skill--img:after {
	--width: 50px;
	--height: 50px;
	z-index: 1;
	background-image: url(../img/treeUI/tex_men_treeRequires.png);
}

div.builder--skill.selected[data-cooldown="-1"] div.builder--skill--img:before {
	z-index: 1;
	background-image: url(../img/treeUI/tex_men_treeBoughtOverlay.png);
}

div.builder--skill:not([data-cost-breakthrough="0"]) div.builder--skill--img:after {
	background-image: url(../img/treeUI/tex_men_treeUnboughtBreakthrough.png);
}

div.builder--skill.selected:not([data-cost-breakthrough="0"]) div.builder--skill--img:after {
	--width: 128px;
	--height: 128px;
	z-index: -1;
	background-image: url(../img/treeUI/tex_men_treeBoughtBreakthrough.png);
}

div.builder--skill.selected:not([data-cost-breakthrough="0"]) div.builder--skill--img:before {
	z-index: 1;
	background-image: url(../img/treeUI/tex_men_treeBoughtOverlay.png);
}

div.builder--skill.locked div.builder--skill--img:after {
	--width: 50px;
	--height: 50px;
	z-index: 1;
	background-image: url(../img/treeUI/tex_men_treeUnavailable.png);
}

div.builder--skill--img {
	height: 50px;
	min-height: 50px;
	max-height: 50px;
}

div.builder--skill--img > img {
  width: 50px;
  height: 50px;
}

div.builder--skill--card {
	
	visibility: hidden;
	z-index: 2;
	pointer-events: none;
	
	background-color: rgba(0, 0, 0, 0.8);
	padding: var(--card-padding) 0.8rem;

	position: absolute;
	top: 100%;
	left: max(0px, 50%);
	width: var(--card-width);
	margin-left: calc(-1 * var(--card-width) / 2 - var(--card-padding) / 2);

	display: grid;
	align-content: normal;
	justify-content: normal;
	align-items: normal;
	justify-items: center;
	grid-template-rows: 2rem 1.5rem;
	
	min-height: 128px;
}

div.card--name {
	font-size: 1.5rem;
	font-weight: 900;
}

div.card--name svg {
	width: 100%;
	height: 2rem;
	fill: white;
}

div.card--costs {
	font-size: 1rem;
	font-weight: 700;
}

div.card--costs,
div.card--costs > div {
	display: flex;
}

div.card--costs > div {
	align-items: center;
}

div.card--cost_other {
	border-right: 1px solid white;
	padding-right: 3px;
	margin-right: 2px;
}

div.builder--row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0.1rem;
	
	
	flex-direction: row;
	flex-wrap: wrap;
	align-content: normal;
	justify-content: center;
	align-items: normal;
	max-width: 80%;
	margin: auto;
}

#tree__quests_active,
#tree__quests_passive {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

#tree__quests_active div.builder--row,
#tree__quests_passive div.builder--row {
	grid-template-columns: 1fr;
}

#tree__quests_active .skill--group,
#tree__quests_passive .skill--group {
	flex-wrap: wrap;
}

/* GEAR */
div.builder--tree--gear {
	display: grid;
	grid-template-columns: 64px 200px 64px;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	
	width: 328px;
	margin: 0 auto;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

div.male-silhouette {
	background-image: url(../img/slots/male.png);
}

div.female-silhouette {
	background-image: url(../img/slots/female.png);
}

div.gear--left-rail {
	grid-area: 1 / 1 / 2 / 2;
}

div.gear--right-rail {
	grid-area: 1 / 3 / 2 / 4;
}

div.gear--bottom-rail {
	grid-area: 2 / 1 / 3 / 4;
}

.gear--group {
  display: flex;
}

.gear--info {
  position: relative;
  width: 64px;
  text-align: center;
  margin: 0 0.2rem 0 0.2rem;
}

.gear--image img {
  position: relative;
  left: 0;
  top: 0;
  width: 64px;
}

.gear--name {
  position: absolute;
  left: 0;
  top: 0;
}

.gear--info:hover .gear--name {
  display: none;
}

.builder--quick-slots {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;

	height: 86px;
	width: fit-content;
	margin: 1rem auto;
	background-color: rgba(0,0,0,0.5);
}

.quick-slots {
	width: 64px;
	margin: 0 0.2rem;
	background-image: url(../img/slots/blank_quickslot.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

@media screen and (width < 600px) {
	.builder--quick-slots {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		height: calc(86px * 2);
	}
}

/* CONTEXT MENUS */
.section.context {
	display: block;
	position: absolute;
	z-index: 100;
	background-color: rgba(0,0,0,0.8);
	border: 1px solid white;
	padding: 0.25rem;
	margin: 0;
}

/* TOTALS */
div.section.totals {
	background-color: rgba(0, 0, 0, 0.5);
	width: fit-content;
	margin: 1rem auto;
	padding: 0.1rem 0.5rem 1rem 0.5rem;
	width: 40rem;
	max-width: 40rem;
	min-width: 40rem;
}

div.totals--header {
	font-size: 3rem;
	font-weight: 600;
}

div.row--header {
	font-size: 1.5rem;
	margin-right: .5rem;
	width: 8rem;
	text-align: right;
}

div.section.totals > div {
	margin: 0.25rem 1rem;
	justify-content: center;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

div.totals--costs div {
	display: flex;
	align-items: center;
}

div.totals--header,
div.totals--skills,
div.totals--costs,
div.totals--skill_bonuses {
	margin: 0rem 0.25rem;
	display: flex;
	align-items: center;
	font-weight: 900;
}

div.skill-bonuses.hidden {
	display: none;
}

div.section.totals span {
	font-weight: 400;
	padding: 0.2rem;
}

div.totals--skill_bonuses {
	flex-wrap: wrap;
}

div.totals--group--row {
	width: 100%;
	display: grid;
	grid-template-columns: 120px 1fr;
	
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

div.totals--row-header {
	display: flex;
	align-items: center;
	
	border-right: 1px solid rgba(255,255,255,0.6);
}

div.totals--row-content {
	display: flex;
	flex-wrap: wrap;
	align-content: normal;
	justify-content: normal;
	align-items: center;
	
	margin-left: 0.3rem;
}

div.totals--row-content div {
	display: flex;
	flex-wrap: nowrap;
	align-content: normal;
	justify-content: normal;
	align-items: center;
	padding: 0 0.15rem;
}

/* TOOLS */
div.section.tools {
	display: flex;
	justify-content: center;
}

div.tools-btn {
	margin: 0.25rem;
	padding: 0.5rem 1rem;
	background-image: url(../img/btns/normal.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

div.tools-btn:hover {
	background-image: url(../img/btns/hover.png);
}

div.tools-btn.active {
	background-image: url(../img/btns/pressed.png);
}

/* FOOTER */
div.section.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: -2;
	background-image: url(../img/background_footer.png);
	opacity: 0.75;
	background-position: center;
}